body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flexbox;
}
.back {
  width: 100vw;
  height: 50vh;
}
.back .nav {
  position: absolute;
  height: 40px;
}
.back .nav ul {
  height: 40px;
  width: 100%;
  margin-left: 760px;
}
.back .nav ul li {
  z-index: 12;
  display: inline;
  padding: 30px;
}
.back .nav ul li a {
  z-index: 12;
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-family: "Mulish", sans-serif;
}
.back .nav ul li a:hover {
  color: rgb(247, 193, 193);
}
.back .nav .face {
  margin-top: 30px;
  margin-left: 780px;
  height: 700px;
  width: 600px;
}
.back .bha {
  margin-top: 5px;
  position: absolute;
  margin-left: 60px;
  font-size: 40px;
  color: rgb(92, 146, 126);
  font-family: "Mulish", sans-serif;
  -ms-text-kashida-space: 3;
}
.back .para {
  position: absolute;
  margin-top: 220px;
  margin-left: 200px;
  font-size: 40px;
  font-family: "Mulish", sans-serif;
}
