* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: poppins;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
h2 {
  font-size: 30px;
  font-family: "syne";
  color: rgb(14, 28, 37);
}
ul,
nav {
  display: flex;
}
nav li {
  list-style: none;
  padding-right: 40px;
}
nav li a {
  text-decoration: none;
  font-family: "syne";
  font-size: 23px;
  color: rgb(46, 53, 59);
}
nav li a:hover {
  color: rgb(180, 207, 207);
}
.down-to-nav {
  margin-top: 100px;
  margin-left: 200px;
}
.down-to-nav h3 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}
.down-to-nav p {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 29px;
  font-family: "syne";
}
.down-to-nav .img {
  height: 400px;
  position: absolute;
  top: 150px;
  left: 65vw;
}
.up-down {
  position: absolute;
  margin-left: 610px;
  font-size: 25px;
  margin-top: 190px;
  animation: up-down 2s infinite linear;
}
@keyframes up-down {
  0% {
    margin-top: 90px;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 90px;
  }
}
#about {
  width: 90vw;
  margin-top: 250px;
}
.h {
  font-size: 35px;
  font-family: "Rowdies", cursive;
  margin-top: 100px;
  margin-left: 600px;
}
.h1 {
  font-size: 35px;
  font-family: "Rowdies", cursive;
  margin-top: 100px;
  margin-left: 500px;
}
.h3 {
  margin-left: 800px;
  margin-top: auto;
  font-family: "caveat", cursive;
  font-size: 20px;
}
.h2 {
  margin-top: 60px;
  font-size: 25px;
  margin-left: 230px;
  font-family: "pacifico";
}
.p {
  font-size: 18px;
  margin-left: 330px;
  font-family: "bellota";
  width: 60vw;
}
@media only screen and (max-width: 700px) {
  header {
    display: block;
    padding: 20px;
  }
  nav li {
    padding-right: 20px;
    padding-top: 15px;
  }
  h2 {
    color: rgba(57, 155, 155, 0.849);
  }
  #about {
    margin-top: 2px;
  }
  .down-to-nav .img {
    display: none;
  }
  .down-to-nav {
    margin-left: 5px;
    margin-top: 40px;
  }
  .down-to-nav h3 {
    font-size: 21px;
  }
  .up-down {
    display: none;
  }
  .h {
    margin-top: 80px;
    margin-left: 10px;
  }
  .h1 {
    margin-left: 30px;
    font-size: 29px;
    margin-top: 30px;
  }
  .h3 {
    margin-left: 190px;
  }
  .h2 {
    margin-left: 10px;
  }
  .p {
    margin-left: 30px;
    width: 80vw;
  }
}
#skills {
  margin-top: 40px;
}
.l .tag {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  margin-top: 60px;
  display: block;
}
.l {
  list-style: none;
}
.l hr {
  width: 400px;
  margin-left: 250px;
  position: absolute;
}
.l h4 {
  position: absolute;
  margin: 20px 0px 0px 500px;
  font-family: cursive;
}
.tap {
  height: 400px;

  position: absolute;
  margin-left: 800px;
  margin-top: 190px;
  border-radius: 30%;
}
@media only screen and (max-width: 700px) {
  #skills {
    width: 90vw;
  }
  .l .tag {
    margin-left: 20px;
  }
  .l hr {
    margin-left: 60px;
    width: 264px;
  }
  .l h4 {
    margin: 20px 0px 0px 200px;
  }
  .tap {
    display: none;
  }
}
.projects {
  display: flex;
}
.pro {
  width: 60vw;
  margin-left: 260px;
  margin-top: 140px;
}
.pot {
  font-family: "syne";
  margin-left: 260px;

  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
.pot a {
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .pro {
    margin-left: 30px;
    margin-top: 70px;
    width: 80vw;
  }
  .pot {
    margin-left: 10px;
  }
}
#other {
  margin-top: 130px;
  display: flex;
  background-color: rgb(40, 59, 63);
  height: 70vh;
}

footer h2 {
  padding: 10px 600px 0px 150px;
  font-family: "syne";
  color: rgb(37, 137, 145);
}
footer h3 {
  margin-top: 20px;
  margin-left: 600px;
  color: rgb(37, 137, 145);
  font-family: "syne";
}
footer .lv {
  list-style: none;
  padding-right: 40px;
  padding-top: 40px;
}
footer .lv a {
  text-decoration: none;
  font-family: "syne";
  font-size: 23px;
  color: rgb(113, 116, 106);
}
footer p {
  margin-top: 30px;
  font-size: 20px;
  color: rgb(179, 182, 167);
  font-family: "syne";
  margin-left: 200px;
}
.my {
  width: 12vw;
  height: 25vh;
  border-radius: 30%;
  margin-top: 40px;
  margin-left: 100px;
}
.other-link {
  position: absolute;
  margin-top: 290px;
  left: 985px;
}
.l {
  padding-top: 40px;
  list-style: none;
  padding-right: 40px;
}
.l a {
  text-decoration: none;
  font-family: "syne";
  font-size: 23px;
  color: rgb(113, 116, 106);
}
.c {
  padding-top: 40px;
}
.l a img {
  width: 50px;
  height: 40px;
}
@media only screen and (max-width: 700px) {
  footer {
    overflow: hidden;
  }
  #other {
    height: 600px;
  }
  .my {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
  }
  footer h2 {
    padding: 15px 0px 0px 20px;
  }
  footer p {
    margin-left: 40px;
    width: 80vw;
  }
  footer h3 {
    margin-left: 80px;
    margin-top: 160px;
  }
  .other-link {
    left: 20px;
    margin-top: 430px;
  }
  .l {
    width: 12vw;
  }
  footer .lv {
    position: absolute;

    margin-left: 250px;
  }
  footer .lv .v {
    display: none;
  }
}
